@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@400;500;700&display=swap');


.navbar {
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    
}

.btn1 {
    border-radius: 30px;
    width: 50% ;
}
.manila {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.manilas hr {
    background-color: black;
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 11px #888888;

   
   
}
.nav-link {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1,h2,h3,h4,h5,h6 a p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.card img {
    height: 25vh;
    opacity: 0.5;
 
}

#second-col .card-img { 
    height: 52vh;
}
.card-img-overlay {
    color: white;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif
 
}
.card {
    overflow: hidden;
    position: relative;
    
}
.card img, .card-img-overlay {
    transition: all 0.4s ease;
}

.card:hover img {
    transform: scale(1.1);
    
}

.card-text #texxt{
    text-align: center;
    padding-bottom: 1000%;
}


  
 /*.latest {
    display:flex;
    float: left;
    
}*/


/* Trending hr
.span{
    
    display: inline-block; 
    position: relative;
    top: -1.8em;
    background-color: #fff;
    padding: 0 10px ;  
    margin-bottom: -10%; 
}
*/
.foots a:link
{
    text-decoration: none;
    
}
.foots a:hover {
    color: #888888;
}
.foots a {
    color: #fff;
}
.foots {
    margin: 0;
}

