@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&display=swap');
:root{
    --lg-font: 'Kaisei Tokumin', serif;  
    --sm-font: 'Poppins' ,  sans-serif;
    --pink: #e5345b; 
    --gray: gray; 
    
    
}
body{
   
   /*background-color: #081948;*/ 
    background: linear-gradient(rgba(17, 36, 90, 0.8),
    rgba(17, 36, 90, 0.535)),url(/my_portfolio/myPorfolio/homepage11111111.JPG); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    
  
   
    font-family: 'Kaisei Tokumin', serif;
}
 /*body {
    background: url("/my_portfolio/myPorfolio/homepage11111111.JPG") fixed center;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    font-family: 'Kaisei Tokumin', serif;
} */
.navbar-brand{
    font-size: 2rem;
    color: black;
    font-family: 'Pacifico', cursive;
}
.nav-link {
    
    margin-right: 10px;
    margin-left: 10px;
    
    font-family: 'Kaisei Tokumin', serif;
    text-transform: uppercase;
    
}
.nav-link{
    color: lightyellow;
}
#navii {
    color:#fff;
}
.nav-link:hover {
    color: #e5345b;

}

.navbar-brand img{
    width: 40px;
}
.search {
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Kaisei Tokumin', serif;
    border: 2px solid rgb(248, 26, 92)
}
.btn0 {
    height: 40px;
    width: 200px;
    outline: none;
    border: none;
    background: lightskyblue;
    color: white;
    border-radius: 60px;
    font-weight: 700;
    
}

.main h1 {
    font-size: 4rem;
    
    color: white;
}

.card img {
    transition: all 0.4s ease;
}
.card:hover img {
    transform: scale(1.1);
}
.card{
    overflow: hidden;
    position: relative;
}

/* Button header*/
#btn1 .wrapper{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  
  #btn1 a{
    background-color: rgb(26, 80, 131);
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color:white;
    border-radius: 30px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  #btn1 a span{
    position: relative;
    z-index: 2;
    
  }
  
  #btn1 a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #e15e7d;
    transition: all .35s;
    border-radius: 30px;
  }
  
  #btn1 a:hover{
    color: #fff;
  }
  
  #btn1 a:hover:after{
    width: 100%;
    border-radius: 30px;
  }

  /* dlPDF HTML CSS*/
  .pdf {
    background: linear-gradient(rgba(17, 36, 90, 0.8),
    rgba(17, 36, 90, 0.535)),url(/my_portfolio/myPorfolio/homepage11111111.JPG); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Kaisei Tokumin', serif;
  }
  .pdf img {
    padding: 20px;
    margin: 100px;
    justify-content: center;
    align-items: center;
  }

   .pdf .btn {
    position: relative;
    display: inline;
    bottom: 430px;
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .pdf .btn:hover {
    background-color: RoyalBlue;
  }